<lib-bimap-app-layout>
  <div class="main-container">
    <router-outlet></router-outlet>
  </div>
  <!-- 給kendo ui dialog append 使用 -->
  <div kendoDialogContainer></div>
</lib-bimap-app-layout>



<!-- <h1>{{title}}</h1>
<nav>
  <a routerLink="/dashboard">Dashboard</a>
  <a routerLink="/heroes">Heroes</a>
  <a routerLink="/devices_count">Devices_Count</a>
  <a routerLink="/receiver">Receiver</a>
  <a routerLink="/targets">Targets</a>
</nav><router-outlet></router-outlet>
<app-messages></app-messages> -->
