.schedule-detail-container {
  display: table;
  width: 100%;
  margin-bottom: 10px;
}

.schedule-detail-label {
  display: table-cell;
  width: 20%;
  padding-right: 10px;
  vertical-align: middle;
}

.schedule-detail-textbox {
  display: table-cell;
  width: 50%;
}

